// Colors
// Primary
$darkBlue: hsl(233, 26%, 24%);
$limeGreen: hsl(136, 65%, 51%);
$brightCyan: hsl(192, 70%, 51%);

// Neutral
$grayishBlue: hsl(233, 8%, 62%);
$lightGrayishBlue: hsl(220, 16%, 96%);
$veryLightGray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

html {
    font-size: 100%;
}

body{
    margin: 0;
    padding: 0;
    font-size: 18px;
  }

  .container{
    min-width: 375px;
    max-width: 1440px;
  }

  .navigation{
    height: 50px;
    background-color: lightgoldenrodyellow;
  }

  #logo{
    position: relative;
    top: 15px;
    left: 15px;
  }
  
  #hamburger_icon{
    float: right;
    position: relative;
    top: 15px;
    right: 15px;
  }

  .intro{
    height: 600px;
    width: 100%;
  }

  .intro img{
    height: 400px;
  }

  .section-content{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .images{

  }

  .heading{
    position: absolute;
    left: 20px;
    max-width: 50%;
  }

  .preferences{
    background-color: aliceblue;

    h2 {
        color: royalblue;
        text-align: center;
        font-size: 26px;
        position: relative;
        top: 42px;
        bottom: 20px;
    }
    p {
        position: relative;
        letter-spacing: 1px;
        text-align: center;
        font-size: 16px;
        top: 30px;
        bottom: 40px;
    }
    .option{
        margin-top: 60px;
        margin-bottom: 80px;
        text-align: center;

        a {
            text-decoration: none;

            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
      }    
  }

  .articles{
    background-color: brown;
    margin-top: 15px;
    text-align: center;
  }

  .article{
    margin-top: 30px;
    margin-bottom: 70px;
    
    img {
        width: 320px;
        height: 200px;
    }
    span {
        display: block;
        float: left;
        margin-left: 30px;
        margin-top: 35px;
        margin-bottom: 15px;
        font-weight: bold;        
    }
    h3 {
        clear: both;
        margin-left: 20px;
        text-align: left;
        font-size: 25px;
    }
  }